@model SOMSight.Models.Account.ForgotPasswordViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Forgot your password?";
}

<!--================================= TITULO ======================================-->
<div class="titulo rojo small">
    <div class="centro">
        <h1>Forgot your password?</h1>
    </div>
</div>
<!--================================= TITULO ======================================-->

<div id="pagina" class="formulario registration">
    <div class="seccion">
        <div class="centro">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "formulario" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "lista-texto-validacion" })

                <h3 class="menos_margen">Please enter your e-mail</h3>
                <div class="reenter">
                    @Html.TextBoxFor(m => m.Email, new { @id= "enter_email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "texto-validacion" })
                </div>
                <div class="the_captcha">
                    @Html.Captcha(5)

                    @if (@TempData["ErrorMessage"] != null && !@TempData["ErrorMessage"].ToString().Equals(""))
                    {
                        <p style="font-weight:bold;color:red;">@TempData["ErrorMessage"]</p>
                    }

                    @*<p><img src="images/captcha_ejemplo.png" width="221" height="98"></p>
                    <input id="code" type="text" name="code" placeholder="Type code here">*@
                </div>
                <div class="fila centrada">
                    <input name="boton" type="submit" class="boton" value="RECOVERY">
                </div>
            }
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#CaptchaInputText").attr("placeholder", $("#InputCaptchaPlaceholder").text());
        //$(".the_captcha").find("br").remove()
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
