@using SOMSight.Helpers
@model SOMSight.Models.Account.RegisterEmailVM
@{
    Layout = null;
}

<table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFF; border-collapse: collapse; border: solid 0px #ccc;">
    <tr>
        <td>

            <table id="cabezote" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFF; border-collapse: collapse;">
                <tr>
                    <td><img src="@ConfigHelper.GetSiteBasePathImages()images/logo_mail.png" width="320" height="110" alt="Somsight" style="border: 0px; border-collapse: collapse;"></td>
                </tr>
            </table>






            <table id="titulo" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#DF3925">
                <tr>
                    <td><h1 style="font-family:Arial, Helvetica, sans-serif; font-size: 23px; font-weight: 300; color: #fff; line-height: 26px; margin: 20px;">@Model.CompanyName </h1></td>
                </tr>
            </table>







            <table class="imagen" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff">
                <tr>
                    <td><img src="@ConfigHelper.GetSiteBasePathImages()images/img_ejemplo_mail.jpg" width="600" height="200" alt="alt"></td>
                </tr>
            </table>







            <table class="contenido" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff">
                <tr>
                    <td>
                        <p style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 300; color: #333; line-height: 18px; margin: 15px; text-align: justify;">
                            @{
                                ViewContext.Writer.Write(Model.IntroduceText);
                            }
                            @*<strong>Cordial Saludo,</strong>
                            <br /><br />
                            Microsoft en su constante preocupación por asesorar a sus clientes respecto a su correcto licenciamiento y la gestión eficiente de sus activos de software, está buscando acercar soluciones óptimas a las necesidades de su empresa.
                            <br /><br />
                            En conversaciones recientes discutimos su participación en la evaluación del licenciamiento de software Microsoft y atendiendo a las exigencias de seguridad en la protección de su información evitando así los ciberataques cada vez más complejos y sofisticados, compartimos la siguiente información de acceso al sitio web para el diligenciamiento del “Formulario General de Licenciamiento de Software”:*@
                        </p>
                    </td>
                </tr>
            </table>









            <table id="accede" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff">
                <tr>
                    <td><a href="@Model.UrlSrcLink" target="_self" style="margin: 0 0 20px 11px; float: left;"><img src="@ConfigHelper.GetSiteBasePathImages()images/mail_btn_acceder.png" width="577" height="73" alt="acceder aqui"></a></td>
                </tr>
            </table>



            <table class="contenido" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff">
                <tr>
                    <td>
                        <p style="font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight: 300; color: #333; line-height: 18px; margin: 15px; text-align: justify;">
                            @{ 
                                ViewContext.Writer.Write(Model.FinalText);
                            }
                            
                            @*Una vez ingrese a nuestro sitio web y complete el formulario MDS (Microsoft Deployment Summary), este será analizado por uno de nuestros miembros del equipo certificado SAM en los siguientes 3 a 5 días hábiles. Nuestro consultor SAM le asesorará sobre las mejores prácticas de licenciamiento basándose en el estado actual de su plataforma.<br /><br />
                            Esperamos con interés su participación en este programa. Por favor, déjenos saber si se necesita alguna aclaración para completar el Formulario MDS.<br /><br />
                            Saludos.*@
                        </p>
                    </td>
                </tr>
            </table>













        </td>
    </tr>
</table>

