@model Affidavit.Models.Home.ForgetPassword
@using Affidavit.Utils
@{
    ViewBag.Title = "ForgetPassword";
    Layout = null;
}

@Html.Partial("_HeaderHome")

<style type="text/css">
    div.container h1 {
        color: black;
    }

    div.validation-summary-errors ul li {
        margin: -3px 0px 3px 0px !important;
        color: red;
    }

    #Usuario-error, #Password-error {
        margin: -5px 0px 3px 0px;
        color: red;
        padding: 2px;
    }
</style>




<h2>ForgetPassword</h2>

@using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { role = "form", autocomplete = "off", id = "loginFrm" }))
{
    <div id="login" >
        @*@Html.HiddenFor(m => m.leadID)*@
        @Html.AntiForgeryToken()

        <h1 style="font-size: 18px; text-align:justify;">            
            @Html.Raw(@TranslatorHelper.TranslateTextByIdentifier("Old_ForgetPassMessage"))
        </h1>
        <div class="formulario">
            <label style="color:white !important; margin: -3px 0px 9px 0px !important;">@Html.ValidationSummary(true)</label>
            <fieldset>

                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @autofocus = "", @placeholder = @TranslatorHelper.TranslateTextByIdentifier("Old_User") } })
                <label>@Html.ValidationMessageFor(model => model.Usuario, null, new { @class = "text-danger" })</label>

                <input name="Access" type="submit" value="@TranslatorHelper.TranslateTextByIdentifier("Old_Send")" />

            </fieldset>
        </div>        
        @*</fieldset>*@
    </div>

}


<script src="@Url.Content("~/Scripts/Custom/login.js")"></script>
@Html.Partial("_Footer")