@{
    ViewBag.Title = "Home";
}

<!--================================= ROTATOR ======================================-->
<div class="container" id="rotator">
    <ul class="bxslider">
        
        <li style="background-image:url(@Url.Content("~/images/banner_01.jpg"))">
            <div class="content">
                <div class="circulo">
                    <h2>Are you concerned with <strong>cybersecurity</strong>?</h2>
                    <a href="#" target="_self">WE CAN HELP YOU</a>
                </div>
            </div>
        </li>
        <li style="background-image:url(@Url.Content("~/images/banner_02.jpg")">
            <div class="content">
                <div class="circulo">
                    <h2>Wondering how to embrace digital <strong>transformation</strong>?</h2>
                    <a href="#" target="_self">WE CAN HELP YOU</a>
                </div>
            </div>
        </li>
        <li style="background-image:url(@Url.Content("~/images/banner_03.jpg")">
            <div class="content">
                <div class="circulo">
                    <h2>Willing to boost <strong>productivity</strong>?</h2>
                    <a href="#" target="_self">WE CAN HELP YOU</a>
                </div>
            </div>
        </li>
        <li style="background-image:url(@Url.Content("~/images/banner_04.jpg")">
            <div class="content">
                <div class="circulo">
                    <h2>Hesitant with a potential <strong>audit</strong>?</h2>
                    <a href="#" target="_self">WE CAN HELP YOU</a>
                </div>
            </div>
        </li>
    </ul>

</div>
<!--================================= ROTATOR ======================================-->

<div class="container gris" id="our_solutions">

    <h2>Our Solutions</h2>
    <ul class="content">
        <li>
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_1.png")" width="98" height="98" alt="Cybersecurity Assesment">
            </div>
            <h3>
                Cybersecurity
                Assesment
            </h3>
        </li>

        <li class="alt">
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_2.png")" width="98" height="98" alt="Entitlement Control
and Optimization">
            </div>
            <h3>
                Entitlement Control
                and Optimization
            </h3>
        </li>


        <li>
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_3.png")" width="98" height="98" alt="Support During
Audit">
            </div>
            <h3>Support During<br />Audit</h3>
        </li>


        <li class="alt">
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_4.png")" width="98" height="98" alt="Productivity
Assesment">
            </div>
            <h3>Productivity Assesment</h3>
        </li>


        <li class="alt">
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_5.png")" width="98" height="98" alt="Infrastructure
Optimization">
            </div>
            <h3>Infrastructure Optimization</h3>
        </li>


        <li>
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_6.png")" width="98" height="98" alt="Cloud Readiness
Assesment">
            </div>
            <h3>Cloud Readiness Assesment</h3>
        </li>



        <li class="alt">
            <div>
                <img src="@Url.Content("~/images/our_solution_7.png")" width="98" height="98" alt="SAM">
            </div>
            <h3>SAM</h3>
        </li>



        <li>
            <div class="top">
                <img src="@Url.Content("~/images/our_solution_8.png")" width="98" height="98" alt="Industry Insight">
            </div>
            <h3>Industry Insights</h3>
        </li>
    </ul>


</div>
<!--================================= OUR SOLUTIONS ======================================-->
<!--================================= OUR PRODUCTS ======================================-->
<div class="container" id="our_products" style="background-image:url(@Url.Content("~/images/foto_our_products.jpg"))">
    <div class="opacidad">


        <div class="content">


            <h2>Our Products</h2>


            <ul>
                <li><div><span>Hardware Inventory</span></div></li>
                <li><div><span>Software Inventory</span></div></li>
                <li><div><span>SAM</span></div></li>
                <li><div><span>Software Contract Evaluation</span></div></li>
                <li><div><span>Audit Support</span></div></li>
                <li><div><span>Compliance Expert</span></div></li>
                <li><div><span>License Manage</span></div></li>
            </ul>


        </div>
    </div>
</div>
<!--================================= OUR PRODUCTS ======================================-->
<!--================================= PLANS ======================================-->
<div class="container gris" id="plans">
    <div class="content">
        <h2>Plans</h2>
        <div class="tabla">
            @*<p class="deslizar">
                <img src="@Url.Content("~/images/tablas-rspnsv.png")" width="235" height="35" alt="deslizar">
            </p>*@

            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <td>Modules</td>
                        <td>
                            Free Trial
                            <span>(up to 10 devices)</span>
                        </td>
                        <td>Small</td>
                        <td>Medium</td>
                        <td>Corporate</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Home</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Discovery</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Hardware</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Software</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Active directory</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>SAM</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Usage</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Basic assesments</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Support service</td>
                        <td>
                            <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                            <span>Limited vía e-mail</span>
                        </td>
                        <td>
                            <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                            <span>5 x 8</span>
                        </td>
                        <td>
                            <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                            <span>7 x 8</span>
                        </td>
                        <td>
                            <img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check">
                            <span>7 x 24</span>
                        </td>
                    </tr>



                    <tr>
                        <td>Cybersecurity Assestment (Advanced)</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Cloud Assestment (Advanced)</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Productivity Assestment (Advanced)</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Industry Insights</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><img src="@Url.Content("~/images/icon_check.png")" width="23" height="18" alt="check"></td>
                    </tr>
                    <tr>
                        <td>Deliverables</td>
                        <td>&nbsp;</td>
                        <td><span>Conclusion and Recommendation Reports</span></td>
                        <td><span>Conclusion and Recommendation Reports</span></td>
                        <td><span>Conclusion and Recommendation Reports</span></td>
                    </tr>
                    <tr>
                        <td>Sam Consultants (conclusion and recommendations)</td>
                        <td>&nbsp;</td>
                        <td><span>1 hour/month</span></td>
                        <td><span>4 hour/month</span></td>
                        <td><span>10 hour/month</span></td>
                    </tr>
                    <tr>
                        <td>Service Delivery Manager</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span>4 hour/month</span></td>
                    </tr>
                </tbody>




                @*<thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            Free Trial
                            <span>$0</span>
                        </td>

                        <td>
                            Small
                            <span>$0</span>
                        </td>

                        <td>
                            Medium
                            <span>$0</span>
                        </td>

                        <td>
                            Corporate
                            <span>$0</span>
                        </td>
                    </tr>
                </thead>*@
            </table>
        </div>
    </div>
</div>
<!--================================= PLANS ======================================-->
<!--================================= ABOUT US ======================================-->
<div class="container" id="about_us">
    <div class="content">

        <h2>About us</h2>
        <div class="row">
            <div class="der">
                <img src="@Url.Content("~/images/foto_about_us.jpg")"" width="581" height="190" alt="about us">
            </div>
            <div class="izk">
                <p>
                    <strong>SOMSight is a digital transformation and productivy boosting platform through control and optimization of software licensing via state of the art technology and expert advise.</strong>
                    <br /><br />
                    Our company takes advantage of the best of breath on digital transformation analysis, cloud adoption readiness, cyberthreats prevention, productivity boosting via modern technologies, and investments - governance on software entitlements and usage for the purpose of providing companies with knowledge and capabilities to achieve more in their business.
                </p>
            </div>
        </div>

    </div>
</div>
<!--================================= ABOUT US ======================================-->



<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
	  auto: true,
	  pause: 10000,
	  speed:700,
	  autoHover: false,
	  pager: true,
	  controls: false,
	  nextText: 'slidenext',
 	  prevText: 'slideprev',
	  adaptiveHeight: true
	});

});

</script>