@model Affidavit.ContactAConsultanViewModel


@using (Ajax.BeginForm("ContactAConsultant","Home",new AjaxOptions { }, new { id="contactAConsultantForm" }))
{



    @Html.AntiForgeryToken();
    @Html.HiddenFor(x=>x.CampaignId)
    @Html.HiddenFor(x=>x.LeadId)
    @Html.HiddenFor(x => x.ConstultantEmail);
    @Html.HiddenFor(x => x.LeadEmail);

    <h5>Company Name:</h5>
    @Html.TextBoxFor(x=>x.CompanyName, new {@readonly= "readonly", @class= "form-control text-box single-line" })

    <h5>Contact:</h5>
    @Html.TextBoxFor(x => x.CompanyContact, new { @readonly = "readonly", @class = "form-control text-box single-line" })

    <h5>Consultant:</h5>
    @Html.TextBoxFor(x => x.ConsultantName, new { @readonly = "readonly", @class = "form-control text-box single-line" })

    <h5>Message:</h5>
    @Html.TextAreaFor(x => x.MessageText, new { @class = "form-control text-box" })
    <p>&nbsp;</p>
    <br /><br/>

}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>