@model Affidavit.Models.Home.LoginVM
@using Affidavit.Helpers
@using Affidavit.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @TranslatorHelper.TranslateTextByIdentifier("Old_MicrosoftDevelopmentSummary")</title>
    @Styles.Render("~/Content/css")
    
   
    

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")*@

    @if (Model != null)
    {
        if (Model.RenderConsentBanner)
        {
            <!-- It works-->
            foreach (var consentMessageJavascript in Model.ConsentMarkup.Javascripts)
            {
                <script src="@consentMessageJavascript"></script>
            }

            foreach (var consentMessageStylesheet in Model.ConsentMarkup.Stylesheets)
            {
                <link rel="stylesheet" type="text/css" href="@consentMessageStylesheet">
            }
        }
    }
    
    @Html.Partial("_GAnalitycsPartial")
    <script>
        debugger;
        // mscc will only exist if written by the server
        if (typeof (mscc) === 'undefined' || mscc.hasConsent())
        {
            gAnalytics.addGoogleAnalytics();
        }
        else
        {
            mscc.on('consent', gAnalytics.addGoogleAnalytics);
        }
    </script>    
</head>

@{
    var _currentCulture = CultureHelper.GetCurrentCulture();
    var _culCurr = CultureHelper.GetCultureName(_currentCulture);
}
<body class="fondo" style="background-image:url(@Url.Content("~/Content/images/foto_1_cover.jpg")">
    @if (Model != null)
    {
        if (Model.RenderConsentBanner)
        {
            <div>@Html.Raw(Model.ConsentMarkup.Markup) </div>
        }

    }

    <div id="proceso_en_ejecucion" style="display:none;">
        <div>
            <img src='@Url.Content("~/Content/Images/processing.gif")' width="58" height="58">
        </div>
    </div>
    <div id="header" style="position:relative;z-index: 2;">
        <div class="centro">
            <!--================================================-->
            <a class="logo" target="_self"><img src="~/Content/images/logo.png" width="164" height="60" alt=""></a>
            @*<h1 class="invisible">@TranslatorHelper.TranslateTextByIdentifier("Old_MicrosoftDevelopmentSummary")</h1>*@

            <div id="idiomas">
                <p>
                    <span class="flag"><img src="@string.Format(Url.Content("~/Content/images/flag_{0}.{1}"),_currentCulture,"png")" width="16" height="14"></span>
                    <span class="palabra">@_culCurr</span>
                    <span class="flecha"></span>
                </p>
                <ul>
                    @foreach (var item in CultureHelper._cultures)
                    {
                        var _cul = CultureHelper.GetCultureName(item);

                        <li>
                            <a href="#" target="_self" onclick="changeLanguage('@item')">
                                <span class="flag"><img src="@string.Format(Url.Content("~/Content/images/flag_{0}.{1}"),item,"png")" width="16" height="14" /></span>
                                <span class="palabra">@_cul</span>
                                <span class="flecha"></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { id = "langForm", name = "langForm" }))
    {
        <input type="hidden" name="returnUrl" id="returnUrl" value="@Request.Url" />
        <input type="hidden" name="culture" id="culture" value="" />
        <input type="hidden" name="leadID" id="leadIDCulture" value="" />
        <input type="hidden" name="languageID" id="languageID" value="" />
    }

    @*<div id="loading">
            <div id="loading-gif">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
            </div>
        </div>*@

    <script type="text/javascript">
        function changeLanguage(langId) {
            $("#langForm > #culture").val(langId);
            $("#langForm > #leadIDCulture").val($('#leadID').val());
            $("#langForm > #languageID").val($('#languageID').text());

            $("#langForm").submit();
        }
    </script>

    <!--================================= ICONO HELP FIXED (lanza modal infografia) ======================================-->
    <span id="ico_help_mds_fixed" title="Help">
        <span>Help</span>
    </span>


    <!--================================= MODAL INFOGRAFIA ======================================-->
    <div class="opacidad_modal_infografia" ></div>
    <div class="modal_infografia" >
        <span class="modal_infografia_close"><span>Close</span></span>
        @if (CultureHelper.GetCurrentCulture() == "es" || CultureHelper.GetCurrentCulture() == "es-ES")
        {
            <img src="@Url.Content("~/Content/Images/infografia-mds-es.png")" />
        }
        else
        {
            <img src="@Url.Content("~/Content/Images/infografia-mds.png")" />
        }
    </div>

    <script>
    /*---Infografia modal en login (2018-02-08)---*/
    //Cierra modal infografia
    $(".modal_infografia_close, .modal_infografia").click(function () {
        $(".opacidad_modal_infografia, .modal_infografia").hide();
        return false;
    });
    //Boton fijo abre modal infografia
    $("#ico_help_mds_fixed").click(function () {
        $(".opacidad_modal_infografia, .modal_infografia").show();
        return false;
    });


    /*---Cierra alertas modales (semáforo) (2018-02-08)---*/
    $(".boton_alerta_modal").click(function () {
        $(".alertas_modales, .opacidad_alertas_modales").hide();
        return false;
    });
    </script>