<fieldset style="background-color:#24a5df;">
    <ul id="menu-navegacion" class="menu">
        @if (Session["vTitle"].ToString() == "SAM Consultant" || Session["vTitle"].ToString() == "License Consultant" || Session["postofficebox"].ToString() == "Operations Leader")
        {
            <li id="logo-menu" style="width:20%" class="hide-logo"><img src="@Url.Content("~/Content/Images/logo_carta.png")" /></li>
            <li>@Html.ActionLink("Home", "Index", "ManagePlatform")</li>
            <li>
                <a href="#">
                    Summary
                </a>
                <ul>
                    <li>@Html.ActionLink("MDS", "IndexAdmin", "AdminMDS")</li>
                    <li>@Html.ActionLink("Assessments", "IndexAssestment", "AdminMDS")</li>
                    <li>@Html.ActionLink("My Platform", "Index", "AdminMyPlatform")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Survey Questions Responses", "SurverQuestionResponse", "AdminMDS", null, new { border_right = "none" })</li>

        }
        else if (Session["postofficebox"].ToString() == "System Administrator")
        {
            <li id="logo-menu" style="width:20%;" class="hide-logo">
                <img style="height: 35px;position: relative;top: 16px;left: 25%;" src="@Url.Content("~/Content/Images/logo_carta.png")" />
            </li>
            <li>@Html.ActionLink("Home", "Index", "ManagePlatform")</li>
            <li>
                <a href="#">
                    Manage
                </a>
                <ul>
                    <li>@Html.ActionLink("Letters", "ManageLanding", "ManagePlatform")</li>
                    <li>@Html.ActionLink("Products", "ManageProduct", "Product")</li>
                    <li>@Html.ActionLink("Questions", "ManageQuestion", "Question")</li>
                    <li>@Html.ActionLink("Recommendations", "Index", "Recommendation")</li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Summary
                </a>
                <ul>
                    <li>@Html.ActionLink("MDS", "IndexAdmin", "AdminMDS")</li>
                    <li>@Html.ActionLink("Assessments", "IndexAssestment", "AdminMDS")</li>
                    <li>@Html.ActionLink("My Platform", "Index", "AdminMyPlatform")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Survey Questions Responses", "SurverQuestionResponse", "AdminMDS", null, new { border_right = "none" })</li>


            @*<li>@Html.ActionLink("Manage Letters", "ManageLanding", "ManagePlatform")</li>
                <li>@Html.ActionLink("Manage Products", "ManageProduct", "Product")</li>
                <li>@Html.ActionLink("Manage Questions", "ManageQuestion", "Question")</li>
                <li>@Html.ActionLink("Manage Recommendations", "Index", "Recommendation")</li>
                <li>@Html.ActionLink("MDS Summary", "IndexAdmin", "AdminMDS")</li>
                <li>@Html.ActionLink("Survey Questions Responses", "SurverQuestionResponse", "AdminMDS", null, new { border_right = "none" })</li>
                <li>@Html.ActionLink("Assessments", "IndexAssestment", "AdminMDS")</li>*@
        }
    </ul>
</fieldset>


<script>
    $(window).scroll(function (event) {
        var scroll = $(window).scrollTop();
            // Do something
        //if(scroll >=100)
        //{
        //    $("#menu-navegacion").addClass("scroll");
        //    $("#menu-navegacion > li").addClass("sroll-width");
        //    $("#logo-menu").removeClass("hide-logo");
            
        //}
        //else
        //{
        //    $("#menu-navegacion").removeClass("scroll");
        //    $("#menu-navegacion > li").removeClass("sroll-width");
        //    $("#logo-menu").addClass("hide-logo");
        //}
    });
</script>